<!DOCTYPE html>

    <body>
        <h1 style="text-align: center;font-size: 60px;font-family: lobster,cursive;">Souramita
            <br><font color="red" font_size="6">Let's build intelligence</font></br>
        </h1>
        <div id="my_app">
            <!-- impelemting react.js framework on the website -->
            <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
            <script src="{{url_for('static',filename='code.js')}}"></script>
             
        </div>
<!--         <p style="text-align:center;font-size:50px">The digit is {{digit}}</p> -->
    </body>
</html>